
.board-row{
    display: flex;
    flex-direction: row;
}
.center{
    width:calc(60vw + 142px);
    height:600px;
    margin:20px 0px 0px 100px;
    background-color: #232135;
    border-radius: 5px;
    padding:10px
}
.box{
    min-width:calc(60vw / 36) ;
    min-height:calc(60vw / 36);
    margin-right:2px;
    margin-bottom: 2px;
    background-color: rgb(127, 255, 212);
    border:solid 1px
}
.box:hover{
    border:solid 1px #f229b8!important;
    cursor: pointer;
}


.dialog{
    z-index: 5;
    height:30%;
    position:absolute;
    width: 20%;
    bottom:20vh;

    right:10px;
    background-color: #2E2A4D ;
    border-radius: 5px;
    border: 1px solid #2E2A4D;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 16px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    

}

.right{
    margin-top:40px;
    margin-left:40px
}
.Board{
    position: relative;
    height:100%;
    width:100%;
    display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;

}
.btn{
    background-image: linear-gradient(90deg, #6536FB 0%, rgba(109,72,226,0.27) 100%);
    border-radius: 4px;
    border-radius: 4px;
    width:100px;
    height:30px;
    font-size: 16px;
    line-height: 30px;


}
.flex-row12{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:220px;
    margin:0 auto;
}

.btn1{
    
    border-radius: 4px;
    border-radius: 4px;
    width:100px;
    height:30px;
    font-size: 16px;
    line-height: 30px;
    background: #7265d8;
    background-image: url('../backgrounf.png');
    background-size: cover;
    margin:0 auto;
    margin-top:10px


}